.m_image_themeCard {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .a_logo_themeCard {
      display: flex;
      max-width: 22.45vw;
      min-width: 304px;
      min-height: 30px;
      max-height: 45px;
      padding: 0 auto;
      background: rgba(255, 255, 255);
      opacity: 80%;
      z-index: 2;
      padding: 5px 0;
      align-self: center;
      position: absolute;
      top: -35px;
      img {
        max-height: 35px;
        max-width: 212px;
        margin: auto;
      }