.consigliati-per-te{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
.title{
    margin: 30px;
}
.alessio_dellaira-article{
    display: flex;
    flex-direction: column;
    align-items: left  ;
    padding: 10px;
}
.wishlist{
    width: 300px ;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    
    
}
.alessio_dellaira-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.alessio_dellaira-a{
    text-decoration: none;
    text-align: left;
    color: black;
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
.alessio_dellaira-a:hover{
    color: black;
    text-decoration: underline;
}

.wishlist>p{
    color: black;
    margin-top: 3px;
    font-size: small;
    

}
.alessio_dellaira-price{
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.novità{
    background-color: rgb(255, 230, 9);
    color: black;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px;
    width: 65px;
    height: 30px;
    position: absolute;
    font-weight: light;
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.rating{
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
    
    
    width: 15px;
    
}
.alessio_dellaira-figure{
    margin: 30px;


}

.alessio_dellaira-figure>p{
    
    text-align: center;
    
}
.card-section-title{
    display: block;
    margin-right: 10px;
    
}
.alessio_dellaira-card{
    border: solid 0.5px lightgray;
    
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 320px;
    border-radius: 0%;
}



.alessio_dellaira-image>img:hover{
    cursor:pointer;
    transition: transform 600ms cubic-bezier(0, 0, 0.2, 1) 0s;
        transform:scale(1.20);
        translateZ:(0px);
        overflow: visible;
}
.alessio_dellaira-card:hover{
    cursor: pointer;
}
.home-decor-flex{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
    margin-left: 40px;
    
    
   
}
.home-decor{
    display: block;
    justify-content: center;
    margin-left: 50px;
    
}




.alessio_dellaira-figcaption{
    margin-top: 20px;
    font-weight: lighter;
    color: black;
    text-align:center;
}
.buy, .alessio_dellaira-button{
    background-color: orangered;
    border: 2px solid orangered;
    width: 300px;
    height: 60px;
    border-radius: 5px;

    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: lighter;
    
}
.buy:hover{
    background-color: white;
}
 
 .home-decor>p{
    margin-top: 30px;
    text-align: center;
    color: gray;
 }
 .card-section-title{
    margin-left:70px;
 }
    
 