.section3__container {
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Cera-Pro, sans-serif;
    line-height: 1.5;
    color: #2c2c2c;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    width: 100%;
}

.section3__containerContent {
    max-width: 1320px;
    margin-left: 140px;
    margin-right: 140px;
}

.section3__bannerSaldi {
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
}

.section3__titleSaldi {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin: 0px 0px 0.75rem 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3125rem;
}

.section3__carouselContainer {
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
}

.section3__carouselButtonLeft {
    background-color: transparent;
    width: auto;
    border-collapse: none;
    padding: 0px 1.25rem;
    border: none;
    position: absolute;
    top: 0px;
    height: 100%;
    transform: translateZ(0px);
    transition: opacity 250ms ease 0s;
    opacity: 100;
    cursor: default;
    pointer-events: none;
    left: 1.25rem;
    display: flex;
    z-index: 1;
    align-items: flex-start;
    padding-top: 20%;
}

.section3__carouselButtonRight {
    background-color: transparent;
    width: auto;
    border-collapse: none;
    padding: 0px 1.25rem;
    border: none;
    position: absolute;
    top: 0px;
    height: 100%;
    transform: translateZ(0px);
    transition: opacity 250ms ease 0s;
    opacity: 100;
    cursor: default;
    pointer-events: none;
    right: 1.25rem;
    display: flex;
    z-index: 1;
    align-items: flex-start;
    padding-top: 20%;
}

.section3__carouselButtonRight .section3__ChevrounRoundSVG {
    transform: rotate(-0deg);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.section3__ChevrounRoundSVG {
    transform: rotate(-180deg);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.section3__ChevronRoundRect {
    opacity: 1;
    width: 38;
    height: 38;
    rx: 20;
    transition: fill 250ms ease 0s, opacity 250ms ease 0s;
    fill: rgb(255, 255, 255);
    stroke-width: 1px;
    stroke: rgb(224, 224, 224);
    x: 1;
    y: 1;
}

.section3__ChevronRoundPath {
    transition: fill 250ms ease 0s, opacity 250ms ease 0s;
    fill: rgb(44, 44, 44);
}

.section3__carouselScrollArea {
    width: calc(100% + 2.5rem);
    overflow: hidden;
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.section3__cardSaldi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    align-items: stretch;
    position: relative;
    width: calc(25% + 0.546875rem);
    padding: 1.25rem;
    padding-top: 0;
}

.section3__productImageSaldiComplete {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.section3__productImageSaldiComplete a {
    margin: 0;
}

.section3__Preferiti {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    max-width: 90%;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0px 0.3125rem;
    font-size: 0.75rem;
}

.section3__iconaPreferiti {
    margin-right: 10px;
}

.section3__textPreferiti {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 0.625rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 0.625rem;
    width: 100%;
    align-items: center;
}

.section3__imageProductSaldi {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: transform 600ms cubic-bezier(0, 0, 0.2, 1) 0s;
    transform: scale(0.900901) translateZ(0px);
}

.section3__labelDifficileDaTrovare {
    display: flex;
    flex-wrap: wrap;
    min-height: 1.875rem;
    margin-top: 0.625rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
    pointer-events: none;
}

.section3__textDifficileDaTrovare {
    display: inline-block;
    margin-top: 10px;
    padding: 0.19rem 0.625rem;
    background: rgb(255, 207, 0);
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    line-height: 1.1875rem;
}

.section3__labelSconto40 {
    display: flex;
    flex-wrap: wrap;
    min-height: 1.875rem;
    margin-top: 0.625rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 8.625rem;
    margin-bottom: 0.625rem;
    pointer-events: none;
}

.section3__textSconto40 {
    display: inline-block;
    margin-top: 10px;
    padding: 0.19rem 0.625rem;
    background: rgb(241, 12, 0);
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    line-height: 1.1875rem;
    font-weight: 700;
}

.section3__productDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0.3125rem;
}

.section3__productDetails a {
    flex: 1 1 auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: transparent;
}

.section3__productDetails a h3 {
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 600;
    text-transform: inherit;
    padding: 0.3125rem 0px;
}

.section3__labelProductContainer {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.section3__labelRatingContainer {
    color: rgb(0 0 0);
}

.section3__RatingStarsRow {
    padding-bottom: 0px;
}

.section3__productRating {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.section3__ratingBarStars {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0.3125rem;
}

.section3__productRatingIcon {
    width: 0.9375rem;
    height: 0.9375rem;
    align-self: baseline;
    display: flex;
    margin-right: 0px;
}

.section3__productRatingIcon img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.section3__ProductPrice {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 1.5625rem;
    width: 100%;
    text-align: left;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    width: 100%;
}

.section3__textProductPrice {
    display: flex;
    color: inherit;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-transform: inherit;
    text-decoration: line-through;
}

.section3__notVisibleTextProductPrice {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.section3__textNewPrice {
    display: flex;
    color: inherit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-transform: inherit;
    margin: 5px;
    color: rgb(219, 15, 4);
}

.section3__notVisibleTextNewPrice {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.section3__actionRowContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 0;
    align-self: flex-end;
    width: 100%;
}

.section3__ATCButton {
    display: block;
    width: 100%;
    padding: 0.9375rem;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 600;
    background-color: rgb(253, 128, 36);
    border-color: rgb(253, 128, 36);
    color: rgb(0, 0, 0);
    position: relative;
    border-width: 2px;
    font-size: 1rem;
    line-height: 1.5625rem;
}

.section3__ATCButton:hover {
    background-color: white;;
}

.section3__buttonATCLabel {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    inset: 0px;
    opacity: 0;
    display: none;
}

.section3__buttonATCIcon {
    width: 17;
    height: 17;
    line-height: 0;
}

.section3__SVGSpinner {
    width: 1.875em;
    height: 1.875em;
}

.section3__ATCButtonText {
    animation: 1s ease 0s 1 normal none running fadeIn;
}

.section3__carouselScrollAreaButton {
    -webkit-box-align: center;
    padding: 0px 1.25rem;
    border: none;
    position: absolute;
    top: 0px;
    height: 100%;
    transform: translateZ(0px);
    transition: opacity 250ms ease 0s;
    background-color: transparent;
    right: -1.25rem;
    display: flex;
    z-index: 1;
    align-items: center;
}

.section3__carouselScrollAreaButton svg {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.section3__carouselScrollAreaButton svg rect {
    transition: fill 250ms ease 0s, opacity 250ms ease 0s;
    fill: rgb(255, 255, 255);
    stroke-width: 1px;
    stroke: rgb(224, 224, 224);
    x: 1;
    y: 1;
}

.section3__carouselScrollAreaButton svg path {
    transition: fill 250ms ease 0s, opacity 250ms ease 0s;
    fill: rgb(44, 44, 44);
}

.section3__carouselScrollBar {
    padding-left: 1.25rem;
    position: relative;
    align-self: center;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    
    margin:  auto 0px;
    display: flex;
    justify-content: center;
}

.section3__carouselScrollBarTrack {
    margin: 1.5625rem 0px;
    height: 0.3125rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    max-width: 56.25rem;
}

.section3__carouselScrollBarThumb {
    width: 207px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.section3__carouselScrollBarThumb::after {
    content: "";
    position: absolute;
    top: 0.625rem;
    height: 0.3125rem;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.55);
    top: 1.5625rem;
}



.section3__containerTendenza {
    display: flex;
    flex-wrap: nowrap;
    max-width: 910px;
    margin-left: 140px;
    margin-right: 140px;
}

.section3__cardTendenza {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    align-items: stretch;
    position: relative;
    width: calc(25% + 0.546875rem);
    padding: 1.25rem;
    padding-top: 0;
}

.section3__imageTendenza {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
}


@media screen and (min-width: 1210px) {
    .container {
        max-width: 82.5rem;
        margin: 0px auto;
    }
}

@media screen and (min-width: 910px) {
    .container {
        padding: 2.5rem 1.25rem;
    }
}

@media screen and (min-width: 610px) {}