
/* First flex-container for the white area above the navbar */
.nav__utility-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    height: 60px; 
    padding-left: 30px;
    /* border: 2px solid pink; */
}

/* play button container */
.nav__play-button-container {
    /* border: 2px solid blanchedalmond; */
    position: relative;
}

/* the arrow inside the play button */ 
.nav__arrow-play-button{
    z-index: 0;
    width: 20px;
    rotate: 180deg;
    position: absolute;
    top: 4px;
    left: 8px;
    padding: 2px;
}


/* the play button */
.nav__play-button  {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    color: black;
    background-color: rgb(171, 217, 255);
    /* padding: 5px 20px 5px 20px; */
    padding-top: 5px;
    padding-right: 0.925rem;
    padding-left: 2rem;
    
    padding-bottom: 5px;
    line-height:1.5625rem;
    text-align: end;
    border-radius: 5px;
    box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
}

a.nav__play-button  {
   text-decoration: none;
}

/* banner with text in te center above the navbar */
.nav__banner-above-nav {
    display: flex;
    gap: 4px;
    font-size: 0.75rem;
    color: black;
    line-height: 1.1875rem;
    font-weight: 400;
}



.nav__space-between-text {
   padding-left: 8px;
   cursor: pointer;
   color: #006db7;
}

.nav__space-between-text:hover {
    text-decoration: underline;
}

/* left arrow */

.nav__left-arrow{
    rotate: 180deg;
     height: 18px;
}

.nav__right-arrow {
    height: 18px;
}

.nav__manu-icon-x{
    height: 14px;
}
/* icons above the navbar, on the right side */
.nav__icons-container {
    display: flex;
    gap: 20px;
    margin-left: 5px;
    /* border: 2px solid greenyellow; */
}

/* account icon */
.nav__account-icon{
    display: flex;
    gap: 10px;
}

.nav__account-icon span {
    font-weight: 500;
    font-size: 0.85rem;
}

/* separator between icons */
.nav__separator{
    width: 0.7px;
    height: 23px;
    background-color: black;
}


/* vip icon */
.nav__vip-icon{
    display: flex;

}

/* Vip icon */
.nav__image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    padding: 0px;
    margin-top: 2px;
    margin-right: 10px;
}


     


.nav__vip-icon span {
    text-transform: uppercase;
    font-size: 0.85rem;
}

/* side menu */
.navbar.bg-light{
    display: none;
}

/* navbar container*/
.nav__navbar-container {
    display: flex;
    height: 70px;
    background-color: rgb(255, 207, 0);
}

.nav__border-under-nav{
    width: 100%;
    height: 2.4px;
    background-color: rgb(255, 207, 0);
}

/* logo and links in the same container */
.nav__logo-links{
    display: flex;
    gap: 60px;
    align-items: center;
}

/* navbar logo image */
.nav__hamburger-menu{
    display: none;
}

.nav__close-menu-icon{
    display: none;
   
}


.nav__img-logo{
    width: 3.5rem;
    margin-left: 30px;
}


/* navbar links */
.nav__li {
    display: flex;
    padding-top: 10px;
    gap: 50px;
    list-style: none; 
}
.nav__li a{
    text-decoration: none;
}

.nav__link-button{
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(248, 75, 75); 
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 5px;
    background-color: white;

}

.nav__link-button:hover{
    background-color: black;
    color: white; 

}

/* icons of navbar */
.nav__nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 30px;
}

/* search button */
.nav__search-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
}

.nav__search {
    position: absolute;
    top: 12px;
    left: 12px;
}
/* heart icon */
.nav__heart-icon{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
/* shop icon */
.nav__shop-icon {
    display: flex;
    align-items: center;
    gap: 2px;
}

.nav__shop-icon p {
    display: flex;
    align-items: center;
    font-size: 12px;
}

/* icons navbar only for mobile view */
.nav__icons-inside-navbar{
    display: none;
}

/* nav main area container */
.nav__main-area-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* nav main area video */
.nav__main-area-video video {
    width: 100%;
    overflow: hidden;
    z-index: auto;
}

.nav__play-video-button{
    z-index: 3;
    color: blue;
    position: absolute;
    right: 20px;
    top: 170px;
}


.nav__img-mobile-only{
    display: none;

}

.nav__img-tablet-only{
    display: none;
   }


   
   

   .nav__main-area-text-overlay{
    overflow-wrap: break-word;
    display: flex;
    text-align: end;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    top: 10rem;
    left: 30rem;
    right: 6rem;
   }

  .nav__box-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    gap: 16px;

  }

  .nav__text-overlay-video-h2 {
   
    font-size: 1.7rem;

  }

  .nav__text-overlay-video-h3{
    font-size: 1rem;

  }

  .nav__call-to-action a {
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
    background-color: white;
    padding: 17px 10px;
    margin: 5px;

  }

  .nav__icon-call-to-action{
    height: 16px;
    margin-left: 5px;
  }




/* nav quick links */
.nav__quick-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.nav__quick-links-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* images under the video */
.nav__icons img{
    width: 90%;
   

}

.nav__quick-links-icons li {
    list-style-type: none;
}






/* side menu */
.nav__container-side-menu{
    display: flex;
    justify-content: space-between;
}


.nav__logo-hamburger{
    display: flex;
   justify-content: flex-start;
    gap: 20px;
    
}

.nav__img-logo-hamburger{
  width: 7%;
}






/* Media query*/
@media screen and (min-width: 1300px) {
    

    .nav__main-area-text-overlay{
        top: 15rem;
        left: 35rem;
        right: 6rem;
    }

    .nav__text-overlay-video-h2 {
        font-size: 1.9rem;
    
    }
    
      .nav__text-overlay-video-h3{
        font-size: 1.4rem;
    
    } 
    
}

@media screen and (min-width: 1640px) {
    

    .nav__main-area-text-overlay{
        top: 15rem;
        left: 50rem;
        right: 8rem;
    }

    .nav__text-overlay-video-h2 {
        font-size: 2rem;
    
    }
    
      .nav__text-overlay-video-h3{
        font-size: 1.6rem;
    
    }

    
}

/* da 0 a 902px */

@media screen and (max-width: 902px){


    .nav__utility-bar-container {
        display: flex;
        justify-content: space-around;
        background-color: rgb(248, 245, 245);
        height: 60px;
    }

    .nav__icons-container{
       display: none;
    }
    
    .nav__play-button-container{
       display: none;
    }

    .nav__banner-above-nav{
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
        align-content: center;
        justify-content: center;
        font-size: 0.7rem;
    }

    .nav__span-text{
        font-size: 0.7rem;
        padding-left: 4px;
    }


    .nav__banner-above-nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       
    }

    .nav__banner-above-nav p{
        margin-bottom: 0px;

    }

    

     /* hide link test of navbar */
     .nav__li{
        display: none;
     }
 
     /* hide icons from navbar*/
     .nav__nav-icons{
         display: none;
     }

     


    .nav__text-overlay-video{
        font-size: 2.2rem;  

    }

    .nav__text-overlay-video-h4{
          color: white;
         font-size: 1.2rem;
        text-align: end;
        line-height: 1.4;
  
    }

    .nav__main-area-text-overlay{
         gap: 10px;
            
    }

    .nav__break-line-2{
      display: block;
    }

    .nav__line-break{
        display: block;
    }

    .nav__close-menu-icon {
        display: none;

    }
    .nav__separator{
        width: 0.7px;
        height: 23px;
        background-color: black;
    }

    /* show the image instead of the video*/
   .nav__img-tablet-only{
    display: block;
   }

    /* hide the video */
    .nav__animation{
        display: none;
    }

    .nav__close-menu-icon{
        display: inline-block;
       
    }

    .nav__navbar-container{
        display: none;
    }



    /* hamburger mobile only */
    /* .nav__hamburger-menu{
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-left: 30px;
        display: none;
       
    } */
    /* .nav__hamburger-line{
        width: 22px;
        height: 2px;
        background-color: black;
    } */

    /* .nav__hamburger-text{
        text-transform: uppercase;
        font-size: 0.4rem;
        color: black;
        margin-top: 5px;
    } */

    /* .nav__img-logo{
        position: absolute;
        margin-left: 70px;
        height: 50px;
        
    } */

    .nav__logo-links{
        display: flex;
        align-items: center;
        display: none;
        
    }

    .nav__play-video-button{
        display: none;
    }
    

    /* main area text */
   .nav__main-area-text-overlay{
    top: 14rem;
    left: 20rem;
    right: 3rem;
   
   
   }

  .nav__box-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    gap: 16px;

  }

  .nav__text-overlay-video-h2 {
    font-size: 1rem;

  }

  .nav__text-overlay-video-h3{
    font-size: 0.8rem;

  }

  .nav__call-to-action a {
    border-radius: 5px;
    font-size: 0.6rem;
    color: black;
    background-color: white;
    padding: 12px 10px;
    margin: 3px;

  }

  .nav__icon-call-to-action{
    height: 16px;
    margin-left: 5px;
  }

  .nav__quick-links{
    display: flex;
    padding-top: 50px;
  }

    /*navbar icons */
    .nav__navbar-container{
        display: none;
     }

     .nav__icons-inside-navbar{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 20px;
     }

     .nav__shop-icon{
        display: flex;
        flex-direction: column;
       justify-content: center;
     }

     .nav__shop-icon-svg{
      margin-top: 30px;
     }

    


     /* side menu */
     .navbar.bg-light{
        display:flex;
    }

    /* this is my container of the side menu*/
     .nav__container-side-menu{
        width: 100%;
        display: flex;
        justify-content: space-between;

     }
    .nav__logo-hamburger{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav__img-logo-hamburger{
        display: flex;
        align-self: center;
         width: 3rem;
    }
    
    

   
}




/* Media query */


/* from 0 to 602px */
@media screen and (max-width: 602px){

    /* show the image instead of the video*/
    .nav__img-mobile-only{
        display:flex;
    }

    /* hide the video */
    .nav__animation{
        display: none;
    }

    .nav__img-tablet-only{
        display: none;
       }


    /* navbar */
    .nav__navbar-container{
        display: none;
       
    }
    
    /* hide link test of navbar */
    .nav__li{
       display: none;
    }

    /* hide icons from navbar*/
    .nav__nav-icons{
        display: none;
    }


    /* hamburger mobile only */
    /* .nav__hamburger-menu{
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-left: 30px;
       
    }
    .nav__hamburger-line{
        width: 22px;
        height: 2px;
        background-color: black;
    }

    .nav__hamburger-text{
        text-transform: uppercase;
        font-size: 0.4rem;
        color: black;
        margin-top: 5px;
    } */

    /* .nav__img-logo{
        position: absolute;
        margin-left: 70px;
        /* height: 7%; 
        
    } */
    

    /* .nav__img-mobile-only{
      width: 100%;
      background-color: black;
      padding-bottom: 5rem;
    } */


    /* .nav__logo-links{
        display: flex;
        align-items: center;
    } */


   
    /* main area text */

    
   /* .nav__main-area-text-overlay{
    width: 100%;
    height: 200px;
    position: relative;
    overflow-wrap: break-word;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    bottom: 4rem;
    top: 38rem;
    left: 0rem;
   
   
   } */

  /* .nav__box-text{
    display: flex;
    flex-wrap: wrap;
    color:white;
    

  }

  .nav__text-overlay-video-h2 {
    font-size: 1rem;

  }

  .nav__text-overlay-video-h3{
    font-size: 0.8rem;

  }

  .nav__call-to-action a {
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.6rem;
    color: black;
    background-color: white;
    padding: 12px 10px;
    margin: 2px;

  }

  .nav__icon-call-to-action{
    height: 12px;
    margin-left: 2px;
  } */


  .nav__quick-links{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  .nav__quick-links-icons{
    flex-wrap: wrap;
    
  }

  .nav__icons img {
    width: 50px;
  }
    

}



/* @media screen and (max-width: 601px) {
   
    .nav__main-area-text-overlay{
        display: flex;
        flex-wrap: wrap;
        top: 39rem;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
       
    }

    .nav__text-overlay-video-h2 {
        font-size: 1.3rem;
    
      }
    
      .nav__text-overlay-video-h3{
        font-size: 1rem;
    
      }

} */

/* @media screen and (max-width: 563px) {
    


    .nav__main-area-text-overlay{
        top: 110vh;
        display: flex;
        flex-wrap: wrap;
       
    }




} */


/* @media screen and (max-width: 420px) {

    

    .nav__main-area-text-overlay{
        display: flex;
        position: absolute;
        overflow-wrap: break-word;
        flex-wrap: wrap;
        text-align: center;
        top: 86vh;
       
       }


  .nav__text-overlay-video-h2 {
    font-size: 1rem;

  }

  .nav__text-overlay-video-h3{
    font-size: 0.9rem;

  }

  .nav__call-to-action a {
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.6rem;
    color: black;
    background-color: white;
    padding: 10px 8px;
    margin: 2px;

  }
    
} */




