<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="button-vip.css">
</head>
<body>

    
    

    <button class="a-button__button-vip">
        <img class="a-button-image__button-vip" src="https://www.lego.com/_next/static/images/vip-73aacc5347bc84c586d662f654c3a629.png">
        <span class="a-button-text__button-vip">Vip</span>
    </button>
    
</body>
</html>