body{
    background-color: rgb(243, 236, 208);
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
}
button{
    border: none;
}
.a-button__button-christmas{
    border-style: none;
    background-color: rgb(255, 207, 0);

}
.a-button__button-christmas a{
     text-decoration: none;
     display: flex;
     text-align: center;
     background-color: white;
     font-size: 1rem;
     text-transform: uppercase;
     color: rgb(248, 75, 75); 
     font-weight: 500;
     padding: 10px 22px;
     border-radius: 5px;
  
}



.a-button__button-christmas a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

