body {
    background-color: antiquewhite;
}

.a-button-region-selector  {
  color: white;
  padding: 0.625rem;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
  background-color: rgb(24, 21, 45);
  margin-bottom: 1.5625rem;

}
 