.section2__button-reg {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    display: none;
}

.section2__button-reg:hover {
    background-color: white;
    color: black;
}