<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./mini-card-homepage.css">
</head>
<body>
    <div class="m-christmas__box-images">
        <div class="m-christmas__box-cards">
        <a href="#" class="m-christmas__img-text-link">
          <div class="m-christmas__second-img">
            <img src="https://www.lego.com/cdn/cs/set/assets/blt50d5b30f089c4bc6/76405-Exclusive-202208-Homepage-SL-Block-Standard.jpg?fit=crop&format=webply&quality=80&width=635&height=440&dpr=1" class="m-christmas__firstimg">
        </div>
            <div class="m-christmas__box-text">
                <article class="m-christmas__text a-cardStyles__title-text">
                    La maggior parte delle scene <br>
                    magiche che si svolgono <br>
                    sull’Espresso di Hogwarts™.</article>
                    <p class="m-christmas__text-link a-cardStyles__description-text">
                        “Binario 9 ¾™, da questa parte!” <br>
                        Ripercorriamo i momenti iconici dei film per <br>
                        celebrare il nuovo set LEGO® Harry Potter™.
                    </p>
                    <p class="m-christmas__link-one a-cardStyles__description-text">Compra ora &gt;</p>
            </div>
        </a>
    </div>
    <div class="m-christmas__box-2-clone">
        <a href="#" class="m-christmas__img-text-link">
            <div class="m-christmas__second-img">
                <img src="https://www.lego.com/cdn/cs/set/assets/blt0f77786a1f584a27/40578-SandwichShop-202209-Home-Block-Standard.jpg?fit=crop&format=webply&quality=80&width=635&height=440&dpr=1" class="m-christmas__firstimg">
            </div>
            <div class="m-christmas__box-text">
                <article class="m-christmas__text a-cardStyles__title-text">
                    I 6 migliori Monster Truck <br> giocattolo LEGO</article>
                    <p class="m-christmas__text-link a-cardStyles__description-text">
                        Arricchisci la tua collezione di veicoli <br>
                        giocattolo con le macchine da corsa più grandi <br>
                        e indistruttibili in circolazione. Esegui folli <br>
                        acrobazie o costruisci qualcosa di <br>
                        completamente nuovo!
                    </p>
                    <p class="m-christmas__link-one a-cardStyles__description-text">Compra ora &gt;</p>
            </div>
        </a>
    </div>
    <div class="m-christmas__box-3-clone">
        <a href="#" class="m-christmas__img-text-link">
            <div class="m-christmas__third-img">
                <img src="https://www.lego.com/cdn/cs/set/assets/bltfba3e9eb0ce21da4/Hero.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1" class="m-christmas__firstimg">        
            </div>
            <div class="m-christmas__box-text">
                <article class="m-christmas__text a-cardStyles__title-text">
                    Un fantastisco kit di progetti <br>
                    per gli appasionati Disney</article>
                    <p class="m-christmas__text-link a-cardStyles__description-text">
                        I nuovi set LEGO® DOTS offonto tutti il  <br>
                        divertimento del gioco di gruppo creativo.
                    </p>
                    <p class="m-christmas__link-one a-cardStyles__description-text">Compra ora &gt;</p>
            </div>
        </a>
    </div>
    <div class="m-christmas__box-4-clone">
        <a href="#" class="m-christmas__img-text-link">
            <div class="m-christmas__four-img">
                <img src="https://www.lego.com/cdn/cs/set/assets/blt7498adad254e44fa/NEW_HERO.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1" class="m-christmas__firstimg">
            </div>
            <div class="m-christmas__box-text">
                <article class="m-christmas__text a-cardStyles__title-text">
                    Le 8 migliori creature marine <br>giocattolo LEGO®</article>
                    <p class="m-christmas__text-link a-cardStyles__description-text">
                        Tuffati nel mondo degli animali marini LEGO® e <br>
    trasforma il tuo gioco in una cavalcata sopra e <br>
    sotto le onde con tante barche e le creature <br> che popolano gli abissi oceanici.
                    </p>
                    <p class="m-christmas__link-one a-cardStyles__description-text">Compra ora &gt;</p>
            </div>
        </a>
    </div>
    </div>
</body>
</html>