<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./mini-card-homepage.css">
</head>
<body>
    <div class="o-mini-card__container">
    <div class="m-mini-card__box">
        <a href="#" class="m-mini-card__img-text-link">
            <div class="m-mini-card__first-img">
                <img src="https://www.lego.com/cdn/cs/set/assets/blta6a6a140f67aa75d/40413-Ventura-Mini-Robots-202010-Homepage-Hero-Standard-Small.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1" class="section2__firstimg">
            </div>
            <div class="m-mini-card__box-text">
                <article class="m-mini-card__text">
                    Robot di nuova generazione</article>
                    <p class="m-mini-card__text-link">
                      I bambini possono costruire e programmare <br>
                      con il set Robot inventor MINDSTORM®.
                    </p>
                    <p class="m-mini-card__link-one">Compra ora &gt;</p>
            </div>
        </a>
    </div>
    <div class="m-mini-card__box">
        <a href="#" class="m-mini-card__img-text-link">
            <div class="m-mini-card__first-img">
                <img src="https://www.lego.com/cdn/cs/set/assets/blta6a6a140f67aa75d/40413-Ventura-Mini-Robots-202010-Homepage-Hero-Standard-Small.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1" class="section2__firstimg">
            </div>
            <div class="m-mini-card__box-text">
                <article class="m-mini-card__text">
                    Robot di nuova generazione</article>
                    <p class="m-mini-card__text-link">
                      I bambini possono costruire e programmare <br>
                      con il set Robot inventor MINDSTORM®.
                    </p>
                    <p class="m-mini-card__link-one">Compra ora &gt;</p>
            </div>
        </a>
    </div>
    <div class="m-mini-card__box">
        <a href="#" class="m-mini-card__img-text-link">
            <div class="m-mini-card__first-img">
                <img src="https://www.lego.com/cdn/cs/set/assets/blta6a6a140f67aa75d/40413-Ventura-Mini-Robots-202010-Homepage-Hero-Standard-Small.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1" class="section2__firstimg">
            </div>
            <div class="m-mini-card__box-text">
                <article class="m-mini-card__text">
                    Robot di nuova generazione</article>
                    <p class="m-mini-card__text-link">
                      I bambini possono costruire e programmare <br>
                      con il set Robot inventor MINDSTORM®.
                    </p>
                    <p class="m-mini-card__link-one">Compra ora &gt;</p>
            </div>
        </a>
    </div>
    <div class="m-mini-card__box-last">
        <a href="#" class="m-mini-card__img-text-link">
            <div class="m-mini-card__first-img">
                <img src="https://www.lego.com/cdn/cs/set/assets/blta6a6a140f67aa75d/40413-Ventura-Mini-Robots-202010-Homepage-Hero-Standard-Small.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1" class="section2__firstimg">
            </div>
            <div class="m-mini-card__box-text">
                <article class="m-mini-card__text">
                    Robot di nuova generazione</article>
                    <p class="m-mini-card__text-link">
                      I bambini possono costruire e programmare <br>
                      con il set Robot inventor MINDSTORM®.
                    </p>
                    <p class="m-mini-card__link-one">Compra ora &gt;</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>