.section2__first-selection,
.section2__first-selection-clone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 100%;
    height: auto;
    margin: auto;
    overflow-x: auto;  
}

.m-christmas__costruction-text {
    margin-bottom: 25px;
    margin-top: 20px;
}
.m-christmas__box-images {
    display: flex;
    position: relative;
}
.m-christmas__link-one {
    font-weight: bold;
}

.m-christmas__box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.a-cardStyles__title-text {
    margin-bottom: 10px;
}

.m-christmas__img-text-link {
    text-decoration: none;
    color: black;
}
.m-christmas__img-text-link:hover {
    color: black;
}
.m-christmas__link-one:hover {
    text-decoration: underline;
}

.m-christmas__firstimg {
    max-width: 100%;
}


.m-christmas__second-img,
.m-christmas__third-img,
.m-christmas__four-img {
    max-width: 100%;
    object-fit: cover;
    width: auto;
    height: auto; 
}
.m-christmas__box-2,
.m-christmas__box-3,
.m-christmas__box-4,
.m-christmas__box-2-clone,
.m-christmas__box-3-clone,
.m-christmas__box-4-clone {
    margin-left: 10px;
}