<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="o-red-banner.css">
</head>
<body>
    <div class="a-banner-header"> <!--red banner-->
        <span class="atom-buttons">
            <a href="#" class="badge a-badge-info">Offerte</a>
            <a href="#" class=" badge a-badge-info no-bg">Sconti</a>
        </span>
    </div>
    
</body>
</html>