<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="o-red-banner-img.css">

</head>
<body>

    <div class="red-banner-conatiner">

        <div class="img-banner">
      <picture data-test="product-leaf-image" class="red-banner-fit">
        <source type="image/webp" media="(min-width: 901px)" srcset="https://www.lego.com/cdn/cs/set/assets/bltc7a1465465963f92/General-Sale-202209-Home-Hero-Short-Large.jpg?fit=crop&amp;format=webply&amp;quality=80&amp;width=1600&amp;height=200&amp;dpr=1,
        https://www.lego.com/cdn/cs/set/assets/bltc7a1465465963f92/General-Sale-202209-Home-Hero-Short-Large.jpg?fit=crop&amp;format=webply&amp;quality=80&amp;width=1600&amp;height=200&amp;dpr=1.5 1.5x"><source type="image/jpeg" media="(min-width: 901px)" srcset="https://www.lego.com/cdn/cs/set/assets/bltc7a1465465963f92/General-Sale-202209-Home-Hero-Short-Large.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=1600&amp;height=200&amp;dpr=1,
        https://www.lego.com/cdn/cs/set/assets/bltc7a1465465963f92/General-Sale-202209-Home-Hero-Short-Large.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=1600&amp;height=200&amp;dpr=1.5 1.5x"><source type="image/webp" media="(min-width: 601px)" srcset="https://www.lego.com/cdn/cs/set/assets/bltcc80f15b6fa7125b/General-Sale-202209-Home-Hero-Short-Medium.jpg?fit=crop&amp;format=webply&amp;quality=80&amp;width=900&amp;height=180&amp;dpr=1,
        https://www.lego.com/cdn/cs/set/assets/bltcc80f15b6fa7125b/General-Sale-202209-Home-Hero-Short-Medium.jpg?fit=crop&amp;format=webply&amp;quality=80&amp;width=900&amp;height=180&amp;dpr=1.5 1.5x"><source type="image/jpeg" media="(min-width: 601px)" srcset="https://www.lego.com/cdn/cs/set/assets/bltcc80f15b6fa7125b/General-Sale-202209-Home-Hero-Short-Medium.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=900&amp;height=180&amp;dpr=1,
        https://www.lego.com/cdn/cs/set/assets/bltcc80f15b6fa7125b/General-Sale-202209-Home-Hero-Short-Medium.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=900&amp;height=180&amp;dpr=1.5 1.5x"><source type="image/webp" media="(max-width: 600px)" srcset="https://www.lego.com/cdn/cs/set/assets/blta0c320d411df1320/General-Sale-202209-Home-Hero-Short-Small.jpg?fit=crop&amp;format=webply&amp;quality=80&amp;width=600&amp;height=264&amp;dpr=1,
        https://www.lego.com/cdn/cs/set/assets/blta0c320d411df1320/General-Sale-202209-Home-Hero-Short-Small.jpg?fit=crop&amp;format=webply&amp;quality=80&amp;width=600&amp;height=264&amp;dpr=1.5 1.5x,
        https://www.lego.com/cdn/cs/set/assets/blta0c320d411df1320/General-Sale-202209-Home-Hero-Short-Small.jpg?fit=crop&amp;format=webply&amp;quality=80&amp;width=600&amp;height=264&amp;dpr=2 2x"><source type="image/jpeg" media="(max-width: 600px)" srcset="https://www.lego.com/cdn/cs/set/assets/blta0c320d411df1320/General-Sale-202209-Home-Hero-Short-Small.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=600&amp;height=264&amp;dpr=1,
        https://www.lego.com/cdn/cs/set/assets/blta0c320d411df1320/General-Sale-202209-Home-Hero-Short-Small.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=600&amp;height=264&amp;dpr=1.5 1.5x,
        https://www.lego.com/cdn/cs/set/assets/blta0c320d411df1320/General-Sale-202209-Home-Hero-Short-Small.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=600&amp;height=264&amp;dpr=2 2x">
        <img  class="red-banner-fit" src="https://www.lego.com/cdn/cs/set/assets/bltc7a1465465963f92/General-Sale-202209-Home-Hero-Short-Large.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=1600&amp;height=200&amp;dpr=1" alt="">
      </picture>
      </div>
      
      
          <div class="jumbotron">
          <div class="container text-button-red">
            <p class="lead">Quali sono i prodotti in offerta?</p>
            <div>
              <button class="a-button__button-shop-now">Compra ora
              <svg class="a-arrow__arrow-right" width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path></svg></a>
              </button>
            </div>
          </div>
      
          <div class="container text-button-red-2 red-banner">
            <p class="lead">Quali sono i prodotti in offerta?</p>
            <div>
              <button class="a-button__button-shop-now">Compra ora
              <svg class="a-arrow__arrow-right" width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path></svg></a>
              </button>
            </div>
          </div>
          </div>
      </div>
    
</body>
</html>