.section2__second-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1100px;
    margin: auto;
    margin-bottom: 30px;
}

.section2__img-in-call {
    cursor: pointer;
}

.section2__text-over-img {
    position: absolute;
    margin: 0 80px;
    margin-bottom: 15px;
}

.section2__article-over-img {
    margin-top: 15px;
}

.section2__button-reg {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    display: none;
}

.section2__button-reg:hover {
    background-color: white;
    color: black;
}

.section2__email {
    margin-top: 10px;
    gap: 2px;
}
.section2__email-box {
    width: 300px;
    height: 30px;
    font-size: 15px;
}

.section2__submit {
    height: 30px;
    width: 50px;
    background: rgb(249, 176, 41);
    cursor: pointer;
    
}