@font-face {
  font-family: "cerapro";
  src: url(https://assets.lego.com/fonts/v2/cera-pro/CeraPro-Regular.woff2);
}

@mixin coloredButtonNav($background) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 30px;
  background: $background;
  color: white;
  position: relative;
  top: -4px;
  // box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.281);
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
  &:hover {
    // box-shadow: inset 0px -4px 0px rgb(0 0 0 / 40%);
    transform: translate3d(0px, -2px, 0px);
  }
  &:active {
    // box-shadow: inset 0px -2px 0px rgb(0 0 0 / 40%);
    transform: translate3d(0px, 0px, 0px);
  }
}

@mixin shadowButton($firstColor, $secondColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 40%);
  border-radius: 30px;
  height: 46px;
  width: 46px;
  background: linear-gradient(180deg, $firstColor 0%, $secondColor 100%);
}

@mixin shadowButtonText {
  margin-top: 0.3rem;
  color: #293744;
  font-family: "cerapro", arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}

#area__giochi__activeSearchBar {
  position: relative;
  z-index: 101;
  height: 530px;
  background-color: white;
  display: none;
  opacity: 0;
  // transform: scale(0);
  // transition: .6s ease opacity,.6s ease transform;
  transition: 0.6s ease opacity;
  .area__giochi__navSearch {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    background-color: white;
    .area__giochi__logo {
      height: 49.33px;
      width: 49.32px;
      cursor: pointer;
    }
    #area__giochi__close_activeSearchBar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border-radius: 30px;
      background-color: rgb(223, 226, 228);
      cursor: pointer;
    }
    .area__giochi__inputSearchBar {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      width: 1150px;
      height: 50px;
      background-color: rgb(234, 237, 239);
      border: none;
      border-radius: 8px;
      ion-icon {
        font-size: 22px;
        margin-left: 1rem;
      }
    }
    div.area__giochi__inputSearchBar:focus-within {
      height: 55px;
      border: 2px solid black;
    }
  }
  .area__giochi__navSection {
    display: flex;
    justify-content: center;
    .area__giochi__navSectionContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      .area__giochi__navSectionContainerTitle {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
      }
      .area__giochi__navElImg {
        max-width: 100%;
        max-height: 50px;
        margin-top: 4px;
      }
      .area__giochi__navElText {
        margin-top: 0.6rem;
        line-height: 1.5;
        color: rgb(234, 237, 239);
        font-weight: 900;
        font-size: 12px;
      }
      .area__giochi__navSectionContainerOne {
        width: 576px;
        .area__giochi__navSectionContainerOneLayout {
          display: flex;
          justify-content: center;
          gap: 4px;
          .area__giochi__navElVertical {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0px;
            min-width: 173.329px;
            height: 325.75px;
            background: linear-gradient(
                0deg,
                rgba(0, 58, 123, 0.8) 0%,
                rgb(44, 131, 195) 100%
              ),
              url(https://www.lego.com/kids/static/images/search-links/lego-life-app-bg.png)
                0px 100% / cover no-repeat transparent;
            border: none;
            cursor: pointer;
          }
          .area__giochi__navElsSquare {
            display: flex;
            gap: 4px;
            flex-wrap: wrap;
            .area__giochi__navElSquareGreen {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin: 0px;
              width: 189.33px;
              height: 160.88px;
              padding: 0 8px;
              background: linear-gradient(
                  0deg,
                  rgba(25, 178, 114, 0.8),
                  rgb(0, 148, 112) 100%
                ),
                url(https://www.lego.com/kids/static/images/search-links/building-instructions-bg.png)
                  0px 100% / cover no-repeat transparent;
              border: none;
              cursor: pointer;
            }
            .area__giochi__navElSquareBlue {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin: 0px;
              width: 189.33px;
              height: 160.88px;
              padding: 0 8px;
              background: linear-gradient(
                  0deg,
                  rgba(0, 87, 167, 0.5) 0%,
                  rgb(44, 154, 255) 100%
                ),
                url(https://www.lego.com/kids/static/images/search-links/digital-safety-bg.png)
                  center center repeat transparent;
              border: none;
              cursor: pointer;
            }
            .area__giochi__navElSquareRed {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin: 0px;
              width: 189.33px;
              height: 160.88px;
              padding: 0 8px;
              background: linear-gradient(
                  0deg,
                  rgba(208, 51, 51, 0.8) 0%,
                  rgb(241, 90, 90) 100%
                ),
                url(https://www.lego.com/kids/static/images/search-links/lego-apps-bg.png)
                  0px 100% / cover no-repeat transparent;
              border: none;
              cursor: pointer;
            }
            .area__giochi__navElSquareYellow {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin: 0px;
              width: 189.33px;
              height: 160.88px;
              padding: 0 8px;
              background: linear-gradient(
                  0deg,
                  rgba(226, 166, 0, 0.8) 0%,
                  rgb(241, 187, 0) 100%
                ),
                url(https://www.lego.com/kids/static/images/search-links/characters-bg.png)
                  0px 100% / cover no-repeat transparent;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
      .area__giochi__navSectionContainerTwo {
        width: 576px;
        .area__giochi__navSectionContainerTwoLayout {
          display: flex;
          display: flex;
          gap: 4px;
          flex-wrap: wrap;
          .area__giochi__navElRectangle {
            img {
              width: 286px;
              height: 160.88px;
              object-fit: cover;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.area__giochi__nav {
  position: relative;
  z-index: 10;
  height: 104px;
  background-color: rgb(255, 207, 0);
  display: flex;
  align-items: center;
  justify-content: center;

  .area__giochi__buttons_input_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;

    .area__giochi__logo_buttons {
      display: flex;
      align-items: center;

      .area__giochi__logo {
        height: 49.33px;
        width: 49.32px;
      }

      .area__giochi__buttons {
        margin-left: 32px;
        display: flex;
        align-items: center;
        gap: 16px;
        .shadowBlueButtonContainer {
          .shadowBlueButton {
            @include shadowButton(#006aad, #00639c);
            .area__giochi__circleBlueButton {
              @include coloredButtonNav(
                linear-gradient(180deg, #006aad 0%, #007bc0 100%)
              );
            }
          }
          .shadowBlueButtonText {
            @include shadowButtonText();
          }
        }
        .shadowRedButtonContainer {
          .shadowRedButton {
            @include shadowButton(#b6264d, #a3102b);
            .area__giochi__circleRedButton {
              @include coloredButtonNav(
                linear-gradient(180deg, #b6264d 0%, #e32648 100%)
              );
            }
          }
          .shadowRedButtonText {
            @include shadowButtonText();
          }
        }

        .shadowGreenButtonContainer {
          .shadowGreenButton {
            @include shadowButton(#00744b, #016f3a);
            .area__giochi__circleGreenButton {
              @include coloredButtonNav(
                linear-gradient(180deg, #00744b 0%, #008746 100%)
              );
            }
          }
          .shadowGreenButtonText {
            @include shadowButtonText();
          }
        }
      }
    }

    .area__giochi__searchBar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: white;
      height: 50px;
      width: 600px;
      border-radius: 8px;
      box-shadow: 0 4px 0 0 #dfe2e4, 0px 4px 8px rgb(90 0 0 / 20%);
      cursor: pointer;
      .area__giochi__searchBarElement {
        margin-top: 8px;
        display: flex;
        align-items: center;
        .area__giochi__searchBar_icon {
          margin-left: 1rem;
          margin-right: 0.5rem;
          ion-icon {
            font-size: 22px;
          }
        }
        .area__giochi__searchBar_bar {
          font-family: "cerapro", arial, sans-serif;
          color: #394754;
          font-size: 14px;
          margin-bottom: 0.5rem;
        }
      }
    }

    .area__giochi__buttons_hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      .area__giochi__leftButton {
        cursor: pointer;
        .blueElementSVG {
          margin-left: -35px;
          position: relative;
          right: -42px;
        }
      }
      .area__giochi__shadowLoginButton {
        margin-top: 0.3rem;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgb(0 0 0 / 40%);
        border-radius: 8px;
        height: 40px;
        width: 96.5px;
        background: #dfe2e4;
        .area__giochi__loginButton {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 40px;
          width: 96.5px;
          border-radius: 8px;
          background: white;
          position: relative;
          top: -4px;
          // box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.281);
          border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
          transition: 0.13s ease-in-out;
          cursor: pointer;
          &:hover {
            // box-shadow: inset 0px -4px 0px rgb(0 0 0 / 40%);
            transform: translate3d(0px, -2px, 0px);
          }
          &:active {
            // box-shadow: inset 0px -2px 0px rgb(0 0 0 / 40%);
            transform: translate3d(0px, 2px, 0px);
          }
          .area__giochi__loginButtonText {
            color: #394754;
            font-size: 14px;
            margin-left: 0.5rem;
          }
          .area__giochi__loginButtonIco {
            display: flex;
            align-items: center;
            background: linear-gradient(
              135.88deg,
              #fdbb7d -1.59%,
              #d56075 100%
            );
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin-right: 0.5rem;
          }
        }
      }
      .area__giochi__shadowHamburgerButton {
        margin-top: 0.3rem;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgb(0 0 0 / 40%);
        border-radius: 8px;
        height: 40px;
        width: 40px;
        background: #dfe2e4;
        .area__giochi__hamburgerButton {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          border-radius: 8px;
          background: white;
          position: relative;
          top: -4px;
          // box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.281);
          border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
          transition: 0.13s ease-in-out;
          cursor: pointer;
          &:hover {
            // box-shadow: inset 0px -4px 0px rgb(0 0 0 / 40%);
            transform: translate3d(0px, -2px, 0px);
          }
          &:active {
            // box-shadow: inset 0px -2px 0px rgb(0 0 0 / 40%);
            transform: translate3d(0px, 2px, 0px);
          }
        }
      }
    }
  }
}

#area__giochi__activeHamburgerM {
  position: relative;
  z-index: 1;
  // display: none;
  transition: 0.3s ease;
  transform: translateY(-80px);
}

.area__giochi__activeHamburgerMenu {
  height: 71px;
  background-color: rgb(226, 166, 0);
  display: flex;
  align-items: center;
  justify-content: center;

  .area__giochi__exit_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 1200px;
    .area__giochi__shadowExitButton {
      margin-top: 0.3rem;
      margin-left: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 4px 8px rgb(0 0 0 / 40%);
      border-radius: 8px;
      height: 40px;
      width: 134.83px;
      background: #dfe2e4;
      .area__giochi__exitButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 134.83px;
        border-radius: 8px;
        background: white;
        position: relative;
        top: -4px;
        // box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.281);
        border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
        transition: 0.13s ease-in-out;
        cursor: pointer;
        &:hover {
          // box-shadow: inset 0px -4px 0px rgb(0 0 0 / 40%);
          transform: translate3d(0px, -2px, 0px);
        }
        &:active {
          // box-shadow: inset 0px -2px 0px rgb(0 0 0 / 40%);
          transform: translate3d(0px, 2px, 0px);
        }
        .area__giochi__exitButtonText {
          color: #394754;
          font-size: 14px;
          margin-left: 0.5rem;
        }
        .area__giochi__exitButtonIco {
          display: flex;
          align-items: center;
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

#area__giochi__blackScreen {
  visibility: hidden;
  opacity: 1;
  transition: opacity 200ms ease 0s;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
