.area__giochi__nav {
  height: 104px;
  background-color: rgb(255, 207, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.area__giochi__nav .area__giochi__logo_buttons {
  display: flex;
  align-items: center;
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__logo {
  height: 49.33px;
  width: 49.32px;
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons {
  margin-left: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  height: 46px;
  width: 46px;
  background: linear-gradient(180deg, #006aad 0%, #00639c 100%);
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButton .area__giochi__circleBlueButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 30px;
  background: linear-gradient(180deg, #006aad 0%, #007bc0 100%);
  color: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButton .area__giochi__circleBlueButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButton .area__giochi__circleBlueButton:active {
  transform: translate3d(0px, 0px, 0px);
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  height: 46px;
  width: 46px;
  background: linear-gradient(180deg, #b6264d 0%, #a3102b 100%);
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButton .area__giochi__circleRedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 30px;
  background: linear-gradient(180deg, #b6264d 0%, #e32648 100%);
  color: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButton .area__giochi__circleRedButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButton .area__giochi__circleRedButton:active {
  transform: translate3d(0px, 0px, 0px);
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  height: 46px;
  width: 46px;
  background: linear-gradient(180deg, #00744b 0%, #016f3a 100%);
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButton .area__giochi__circleGreenButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 30px;
  background: linear-gradient(180deg, #00744b 0%, #008746 100%);
  color: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButton .area__giochi__circleGreenButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__nav .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButton .area__giochi__circleGreenButton:active {
  transform: translate3d(0px, 0px, 0px);
}

/*# sourceMappingURL=crupi_marco_area_giochi.css.map */
