@font-face {
  font-family: "cerapro";
  src: url(https://assets.lego.com/fonts/v2/cera-pro/CeraPro-Regular.woff2);
}
@font-face {
  font-family: "tobipro";
  src: url(./tobipro-medium-webfont.woff2);
}
#area__giochi__activeSearchBar {
  position: relative;
  z-index: 101;
  height: 530px;
  background-color: white;
  display: none;
  opacity: 0;
  transition: 0.6s ease opacity;
}
#area__giochi__activeSearchBar .area__giochi__navSearch {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  background-color: white;
}
#area__giochi__activeSearchBar .area__giochi__navSearch .area__giochi__logo {
  height: 49.33px;
  width: 49.32px;
  cursor: pointer;
}
#area__giochi__activeSearchBar .area__giochi__navSearch #area__giochi__close_activeSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: rgb(223, 226, 228);
  cursor: pointer;
}
#area__giochi__activeSearchBar .area__giochi__navSearch .area__giochi__inputSearchBar {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 1150px;
  height: 50px;
  background-color: rgb(234, 237, 239);
  border: none;
  border-radius: 8px;
}
#area__giochi__activeSearchBar .area__giochi__navSearch .area__giochi__inputSearchBar ion-icon {
  font-size: 22px;
  margin-left: 1rem;
}
#area__giochi__activeSearchBar .area__giochi__navSearch div.area__giochi__inputSearchBar:focus-within {
  height: 55px;
  border: 2px solid black;
}
#area__giochi__activeSearchBar .area__giochi__navSection {
  display: flex;
  justify-content: center;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerTitle {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navElImg {
  max-width: 100%;
  max-height: 50px;
  margin-top: 4px;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navElText {
  margin-top: 0.6rem;
  line-height: 1.5;
  color: rgb(234, 237, 239);
  font-weight: 900;
  font-size: 12px;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerOne {
  width: 576px;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerOne .area__giochi__navSectionContainerOneLayout {
  display: flex;
  justify-content: center;
  gap: 4px;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerOne .area__giochi__navSectionContainerOneLayout .area__giochi__navElVertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  min-width: 173.329px;
  height: 325.75px;
  background: linear-gradient(0deg, rgba(0, 58, 123, 0.8) 0%, rgb(44, 131, 195) 100%), url(https://www.lego.com/kids/static/images/search-links/lego-life-app-bg.png) 0px 100%/cover no-repeat transparent;
  border: none;
  cursor: pointer;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerOne .area__giochi__navSectionContainerOneLayout .area__giochi__navElsSquare {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerOne .area__giochi__navSectionContainerOneLayout .area__giochi__navElsSquare .area__giochi__navElSquareGreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  width: 189.33px;
  height: 160.88px;
  padding: 0 8px;
  background: linear-gradient(0deg, rgba(25, 178, 114, 0.8), rgb(0, 148, 112) 100%), url(https://www.lego.com/kids/static/images/search-links/building-instructions-bg.png) 0px 100%/cover no-repeat transparent;
  border: none;
  cursor: pointer;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerOne .area__giochi__navSectionContainerOneLayout .area__giochi__navElsSquare .area__giochi__navElSquareBlue {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  width: 189.33px;
  height: 160.88px;
  padding: 0 8px;
  background: linear-gradient(0deg, rgba(0, 87, 167, 0.5) 0%, rgb(44, 154, 255) 100%), url(https://www.lego.com/kids/static/images/search-links/digital-safety-bg.png) center center repeat transparent;
  border: none;
  cursor: pointer;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerOne .area__giochi__navSectionContainerOneLayout .area__giochi__navElsSquare .area__giochi__navElSquareRed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  width: 189.33px;
  height: 160.88px;
  padding: 0 8px;
  background: linear-gradient(0deg, rgba(208, 51, 51, 0.8) 0%, rgb(241, 90, 90) 100%), url(https://www.lego.com/kids/static/images/search-links/lego-apps-bg.png) 0px 100%/cover no-repeat transparent;
  border: none;
  cursor: pointer;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerOne .area__giochi__navSectionContainerOneLayout .area__giochi__navElsSquare .area__giochi__navElSquareYellow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  width: 189.33px;
  height: 160.88px;
  padding: 0 8px;
  background: linear-gradient(0deg, rgba(226, 166, 0, 0.8) 0%, rgb(241, 187, 0) 100%), url(https://www.lego.com/kids/static/images/search-links/characters-bg.png) 0px 100%/cover no-repeat transparent;
  border: none;
  cursor: pointer;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerTwo {
  width: 576px;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerTwo .area__giochi__navSectionContainerTwoLayout {
  display: flex;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
#area__giochi__activeSearchBar .area__giochi__navSection .area__giochi__navSectionContainer .area__giochi__navSectionContainerTwo .area__giochi__navSectionContainerTwoLayout .area__giochi__navElRectangle img {
  width: 286px;
  height: 160.88px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.area__giochi__nav {
  position: relative;
  z-index: 10;
  height: 104px;
  background-color: rgb(255, 207, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.area__giochi__nav .area__giochi__buttons_input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons {
  display: flex;
  align-items: center;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__logo {
  height: 49.33px;
  width: 49.32px;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons {
  margin-left: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButtonContainer .shadowBlueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  height: 46px;
  width: 46px;
  background: linear-gradient(180deg, #006aad 0%, #00639c 100%);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButtonContainer .shadowBlueButton .area__giochi__circleBlueButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 30px;
  background: linear-gradient(180deg, #006aad 0%, #007bc0 100%);
  color: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButtonContainer .shadowBlueButton .area__giochi__circleBlueButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButtonContainer .shadowBlueButton .area__giochi__circleBlueButton:active {
  transform: translate3d(0px, 0px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowBlueButtonContainer .shadowBlueButtonText {
  margin-top: 0.3rem;
  color: #293744;
  font-family: "cerapro", arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButtonContainer .shadowRedButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  height: 46px;
  width: 46px;
  background: linear-gradient(180deg, #b6264d 0%, #a3102b 100%);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButtonContainer .shadowRedButton .area__giochi__circleRedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 30px;
  background: linear-gradient(180deg, #b6264d 0%, #e32648 100%);
  color: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButtonContainer .shadowRedButton .area__giochi__circleRedButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButtonContainer .shadowRedButton .area__giochi__circleRedButton:active {
  transform: translate3d(0px, 0px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowRedButtonContainer .shadowRedButtonText {
  margin-top: 0.3rem;
  color: #293744;
  font-family: "cerapro", arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButtonContainer .shadowGreenButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  height: 46px;
  width: 46px;
  background: linear-gradient(180deg, #00744b 0%, #016f3a 100%);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButtonContainer .shadowGreenButton .area__giochi__circleGreenButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 30px;
  background: linear-gradient(180deg, #00744b 0%, #008746 100%);
  color: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButtonContainer .shadowGreenButton .area__giochi__circleGreenButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButtonContainer .shadowGreenButton .area__giochi__circleGreenButton:active {
  transform: translate3d(0px, 0px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__logo_buttons .area__giochi__buttons .shadowGreenButtonContainer .shadowGreenButtonText {
  margin-top: 0.3rem;
  color: #293744;
  font-family: "cerapro", arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 50px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #dfe2e4, 0px 4px 8px rgba(90, 0, 0, 0.2);
  cursor: pointer;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__searchBar .area__giochi__searchBarElement {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__searchBar .area__giochi__searchBarElement .area__giochi__searchBar_icon {
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__searchBar .area__giochi__searchBarElement .area__giochi__searchBar_icon ion-icon {
  font-size: 22px;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__searchBar .area__giochi__searchBarElement .area__giochi__searchBar_bar {
  font-family: "cerapro", arial, sans-serif;
  color: #394754;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__leftButton {
  cursor: pointer;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__leftButton .blueElementSVG {
  margin-left: -35px;
  position: relative;
  right: -42px;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowLoginButton {
  margin-top: 0.3rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  height: 40px;
  width: 96.5px;
  background: #dfe2e4;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowLoginButton .area__giochi__loginButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 96.5px;
  border-radius: 8px;
  background: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowLoginButton .area__giochi__loginButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowLoginButton .area__giochi__loginButton:active {
  transform: translate3d(0px, 2px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowLoginButton .area__giochi__loginButton .area__giochi__loginButtonText {
  color: #394754;
  font-size: 14px;
  margin-left: 0.5rem;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowLoginButton .area__giochi__loginButton .area__giochi__loginButtonIco {
  display: flex;
  align-items: center;
  background: linear-gradient(135.88deg, #fdbb7d -1.59%, #d56075 100%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowHamburgerButton {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  height: 40px;
  width: 40px;
  background: #dfe2e4;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowHamburgerButton .area__giochi__hamburgerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowHamburgerButton .area__giochi__hamburgerButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__nav .area__giochi__buttons_input_container .area__giochi__buttons_hamburger .area__giochi__shadowHamburgerButton .area__giochi__hamburgerButton:active {
  transform: translate3d(0px, 2px, 0px);
}

#area__giochi__activeHamburgerM {
  position: relative;
  z-index: 8;
  transition: 0.3s ease;
  transform: translateY(-80px);
}

.area__giochi__activeHamburgerMenu {
  height: 71px;
  background-color: rgb(226, 166, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.area__giochi__activeHamburgerMenu .area__giochi__exit_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1200px;
}
.area__giochi__activeHamburgerMenu .area__giochi__exit_container .area__giochi__shadowExitButton {
  margin-top: 0.3rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  height: 40px;
  width: 134.83px;
  background: #dfe2e4;
}
.area__giochi__activeHamburgerMenu .area__giochi__exit_container .area__giochi__shadowExitButton .area__giochi__exitButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 134.83px;
  border-radius: 8px;
  background: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__activeHamburgerMenu .area__giochi__exit_container .area__giochi__shadowExitButton .area__giochi__exitButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__activeHamburgerMenu .area__giochi__exit_container .area__giochi__shadowExitButton .area__giochi__exitButton:active {
  transform: translate3d(0px, 2px, 0px);
}
.area__giochi__activeHamburgerMenu .area__giochi__exit_container .area__giochi__shadowExitButton .area__giochi__exitButton .area__giochi__exitButtonText {
  color: #394754;
  font-size: 14px;
  margin-left: 0.5rem;
}
.area__giochi__activeHamburgerMenu .area__giochi__exit_container .area__giochi__shadowExitButton .area__giochi__exitButton .area__giochi__exitButtonIco {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

#area__giochi__blackScreen {
  visibility: hidden;
  opacity: 1;
  transition: opacity 200ms ease 0s;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

#area__giochi__popUpA {
  z-index: 101;
  padding: 32px;
  max-width: 700px;
  position: absolute;
  right: 50px;
  left: 50px;
  width: 100%;
  margin: auto;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(223, 226, 228) 100%);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 15px 0px;
  -webkit-animation: 0.5s ease 0s 1 normal none running fadeIn;
          animation: 0.5s ease 0s 1 normal none running fadeIn;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s ease opacity;
}
#area__giochi__popUpA .area__giochi__popUp_Title {
  padding-top: 32px;
  padding-right: 0px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2;
  color: rgb(41, 55, 68);
}
#area__giochi__popUpA .area__giochi__popUp_Title span {
  font-family: tobipro, arial, sans-serif;
}
#area__giochi__popUpA .area__giochi__popUp_cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
  padding: 0px 32px;
  gap: 32px;
}
#area__giochi__popUpA .area__giochi__popUp_cardContainer .area__giochi__popUp_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 158.67px;
}
#area__giochi__popUpA .area__giochi__popUp_cardContainer .area__giochi__popUp_card .area__giochi__popUp_img {
  margin-bottom: 48px;
}
#area__giochi__popUpA .area__giochi__popUp_cardContainer .area__giochi__popUp_card .area__giochi__popUp_text {
  margin-top: 32px;
}
#area__giochi__popUpA .area__giochi__popUpButtonContainer {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#area__giochi__popUpA .area__giochi__popUpButtonContainer .area__giochi__shadowPopUpButton {
  margin-top: 0.3rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  height: 40px;
  width: 192px;
  background: #dfe2e4;
}
#area__giochi__popUpA .area__giochi__popUpButtonContainer .area__giochi__shadowPopUpButton .area__giochi__PopUpButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 192px;
  border-radius: 8px;
  background: white;
  position: relative;
  top: -4px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
#area__giochi__popUpA .area__giochi__popUpButtonContainer .area__giochi__shadowPopUpButton .area__giochi__PopUpButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
#area__giochi__popUpA .area__giochi__popUpButtonContainer .area__giochi__shadowPopUpButton .area__giochi__PopUpButton:active {
  transform: translate3d(0px, 2px, 0px);
}
#area__giochi__popUpA .area__giochi__popUpButtonContainer .area__giochi__shadowPopUpButton .area__giochi__PopUpButton .area__giochi__PopUpButtonText {
  color: #394754;
  font-size: 14px;
  margin-left: 0.5rem;
}
#area__giochi__popUpA .area__giochi__popUpButtonContainer .area__giochi__shadowPopUpButton .area__giochi__PopUpButton .area__giochi__PopUpButtonIco {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(221, 221, 221);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.area__giochi__sectionOne {
  box-sizing: border-box;
  min-width: 0;
  background-image: url(https://www.lego.com/kids/static/images/seasonal-backgrounds/halloween-candy-bg.jpg);
  padding-top: 2px;
  padding-bottom: 2px;
  height: 689.547px;
  position: relative;
  top: -72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer {
  display: flex;
  justify-content: center;
  height: 561.55px;
  border-radius: 50px;
  overflow: hidden;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgThumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgThumbnails li {
  flex: auto;
  list-style: none;
  background-color: white;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgThumbnails li a {
  display: block;
  opacity: 0.4;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgThumbnails li a:hover {
  transition-duration: 0.5s;
  opacity: 1;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgThumbnails li .thumbActive {
  opacity: 1;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgThumbnails img {
  width: 199.67px;
  height: 112.31px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgSlides {
  overflow: hidden;
  width: 998.33px;
  height: 561.55px;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgSlides li {
  width: 998.33px;
  height: 561.55px;
  position: absolute;
  z-index: 1;
  list-style: none;
  overflow: hidden;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgSlides li .area__giochi__bigSliderText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 3;
  height: 120px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  bottom: 70px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgSlides li .area__giochi__bigSliderText span {
  color: black;
  font-size: 22px;
  font-family: tobipro, arial, sans-serif;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 50px;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgSlides li:target {
  z-index: 3;
}
.area__giochi__sectionOne .area__giochi__bigSliderImgContainer .area__giochi__bigSliderImgSlides img {
  position: absolute;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 998.33px;
  height: 561.55px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100%;
     object-position: 100%;
}

.area__giochi__sectionTwo {
  position: relative;
  top: -73px;
  height: 597.19px;
  background-color: #eaedef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsTitle {
  margin-top: 64px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsTitle span {
  color: #293744;
  font-size: 48px;
  font-family: tobipro, arial, sans-serif;
  font-weight: 900;
  line-height: 1.2;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup {
  padding: 64px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 288px;
  min-width: 288px;
  margin: -30.5px 0px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderTop .area__giochi__FakeSliderVideo {
  position: relative;
  opacity: 1;
  z-index: 2;
  overflow: hidden;
  border-radius: 32px 32px 0px 0px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderIcoContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderIcoContainer .area__giochi__FakeSliderIcoLeftStar {
  position: relative;
  z-index: 2;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderIcoContainer .area__giochi__FakeSliderIcoLeftStar svg {
  height: 18px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderIcoContainer .area__giochi__FakeSliderIcoRightGroup {
  display: flex;
  align-items: center;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderIcoContainer .area__giochi__FakeSliderIcoRightGroup .area__giochi__FakeSliderIco {
  margin-left: -5px;
  position: relative;
  z-index: 2;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderIcoContainer .area__giochi__FakeSliderIcoRightGroup .area__giochi__FakeSliderIco svg {
  height: 18px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderIcoContainer .area__giochi__FakeSliderIcoRightGroup .area__giochi__FakeSliderBigIco {
  margin-left: -5px;
  position: relative;
  z-index: 2;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderIcoContainer .area__giochi__FakeSliderIcoRightGroup .area__giochi__FakeSliderBigIco svg {
  height: 22.5px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom {
  position: relative;
  z-index: 1;
  transform: translateY(-55px);
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 32px 32px;
  padding: 24px 32px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__FakeSliderMiniTitle {
  margin: 0 0 0;
  color: #293744;
  font-family: "cerapro", arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__FakeSliderTitle {
  font-family: "tobipro", arial, sans-serif;
  color: #293744;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__FakeSliderTitle h2 {
  font-size: 16px;
  font-weight: 900;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__FakeSliderDescription {
  display: none;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__FakeSliderDescription p {
  font-family: "cerapro", arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #293744;
  padding-top: 16px;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__shadowFakeSliderButton {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 32px;
  height: 54px;
  width: 224px;
  background: #b41a43;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__shadowFakeSliderButton .area__giochi__FakeSliderButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 54px;
  width: 224px;
  border-radius: 32px;
  background: linear-gradient(180deg, #b6264d 0%, #e32648 100%);
  position: relative;
  top: -6px;
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.25);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__shadowFakeSliderButton .area__giochi__FakeSliderButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__shadowFakeSliderButton .area__giochi__FakeSliderButton:active {
  transform: translate3d(0px, 2px, 0px);
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__shadowFakeSliderButton .area__giochi__FakeSliderButton .area__giochi__FakeSliderButtonText {
  color: #ffffff;
  font-size: 14px;
  margin-left: 0.5rem;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__shadowFakeSliderButton .area__giochi__FakeSliderButton .area__giochi__FakeSliderButtonIco {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__shadowFakeSliderButton .area__giochi__FakeSliderButton .area__giochi__FakeSliderButtonIco svg {
  color: white;
}
@-webkit-keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer .area__giochi__FakeSliderBottom .area__giochi__shadowFakeSliderButton:hover svg {
  -webkit-animation: hideshow 0.8s ease;
          animation: hideshow 0.8s ease;
  opacity: 0;
}
.area__giochi__sectionTwo .area__giochi__exploreNewsFakeSliderGroup .area__giochi__exploreNewsFirstFakeSliderContainer:hover .area__giochi__FakeSliderDescription {
  display: block;
}/*# sourceMappingURL=crupi_marco_area_giochi.css.map */