.o-christmas__megacontainer {
  margin-bottom: 5rem;
}
.o-christmas__megacontainer .m-christmas__head-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
  flex-direction: column;
}
.o-christmas__megacontainer .m-christmas__head-container .o-christmas__list-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  margin-top: 0.8rem;
}
.o-christmas__megacontainer .m-christmas__head-container .o-christmas__list-container svg {
  width: 0.938rem;
  height: 0.938em;
}
.o-christmas__megacontainer .m-christmas__head-container .o-christmas__list-container li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.o-christmas__megacontainer .m-christmas__head-container .o-christmas__list-container .a-christmas__link-home {
  text-decoration: none;
}
.o-christmas__megacontainer .m-christmas__head-container .o-christmas__list-container .a-christmas__link-home:hover {
  text-decoration: underline;
}
.o-christmas__megacontainer .m-christmas__head-container .a-christmas__h1-presents {
  margin-top: 3rem;
}
.o-christmas__megacontainer .m-christmas__funny-holiday {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-image: url(https://www.lego.com/cdn/cs/set/assets/blt5eb4e078c4172c19/Holiday2022-Landing-202208-Inpage-Nav-Large.jpg?fit=crop&format=jpg&quality=80&width=1600&height=90&dpr=1);
  height: 8rem;
  max-height: 15rem;
}
.o-christmas__megacontainer .m-christmas__funny-holiday .a-christmas__only-text {
  font-size: 2rem;
}
.o-christmas__megacontainer .m-christmas__funny-holiday .buttonstyle {
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid black;
  height: 3rem;
  text-align: center;
  padding: 0.7rem 0.9rem;
  width: 7.8rem;
  border-radius: 2rem;
}
.o-christmas__megacontainer .m-christmas__funny-holiday .a-christmas__products-button {
  color: black;
  font-weight: bold;
}
.o-christmas__megacontainer .m-christmas__funny-holiday .a-christmas__products-button:hover {
  text-decoration: underline;
}
.o-christmas__megacontainer .m-christmas__funny-holiday .a-christmas__found-more-button {
  background: black;
  color: white;
  font-weight: bold;
}
.o-christmas__megacontainer .m-christmas__funny-holiday .a-christmas__found-more-button:hover {
  text-decoration: underline;
}
.o-christmas__megacontainer .m-christmas__banner-container {
  margin: 0 auto;
  max-width: 100rem;
}
.o-christmas__megacontainer .m-christmas__banner-container .m-christmas__hero-banner {
  position: relative;
}
.o-christmas__megacontainer .m-christmas__banner-container .m-christmas__hero-banner .m-christmas__hero-banner-full-content {
  position: absolute;
  z-index: 1;
  max-width: 35%;
  left: 6.875rem;
  transform: translateY(-50%);
  top: 50%;
  text-align: left;
}
.o-christmas__megacontainer .m-christmas__banner-container .a-christmas__hero-banner-h2-text {
  font-size: 2.5rem;
  line-height: 3.125rem;
}
.o-christmas__megacontainer .m-christmas__banner-container .a-christmas__hero-banner-article {
  margin-top: 1rem;
}
.o-christmas__megacontainer .m-christmas__banner-container svg {
  width: 0.938rem;
  height: 0.938em;
}
.o-christmas__megacontainer .m-christmas__banner-container .a-christmas__hero-banner-buy-now {
  margin-top: 1.5rem;
}
.o-christmas__megacontainer .m-christmas__banner-container .a-christmas__hero-banner-buy-now .a-christmas__hero-banner-button-style {
  text-decoration: none;
  color: white;
  background: black;
  height: 3rem;
  text-align: center;
  padding: 0.7rem 0.9rem;
  width: 7.8rem;
  border-radius: 0.5rem;
}
.o-christmas__megacontainer .m-christmas__banner-container .a-christmas__hero-banner-buy-now .a-christmas__hero-banner-button-style:hover {
  text-decoration: underline;
}/*# sourceMappingURL=natale.css.map */