:root {
    --border-radius-square: 0rem;
    --border-radius-base: .25rem;
    --border-radius-round: 30rem;
    --border-width-none: 0rem;
    --border-width-thin: .0625rem;
    --border-width-regular: .125rem;
    --border-width-thick: .1875rem;
    --border-width-thicker: .25rem;
    --box-shadow-low: [object Object];
    --box-shadow-medium: [object Object];
    --box-shadow-high: [object Object];
    --spacing-0: 0rem;
    --spacing-25: .125rem;
    --spacing-50: .25rem;
    --spacing-100: .5rem;
    --spacing-150: .75rem;
    --spacing-200: 1rem;
    --spacing-250: 1.25rem;
    --spacing-300: 1.5rem;
    --spacing-350: 1.75rem;
    --spacing-400: 2rem;
    --spacing-450: 2.25rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1000: 5rem;
    --spacing-1100: 5.5rem;
    --spacing-1200: 6rem;
    --spacing-min-x-small: .125rem;
    --spacing-min-small: .25rem;
    --spacing-min-medium: .5rem;
    --spacing-min-large: .75rem;
    --spacing-min-x-large: 1.25rem;
    --spacing-min-2x-large: 1.75rem;
    --spacing-min-3x-large: 2.5rem;
    --spacing-min-4x-large: 3.5rem;
    --spacing-min-5x-large: 5rem;
    --spacing-max-x-small: .25rem;
    --spacing-max-small: .5rem;
    --spacing-max-medium: .75rem;
    --spacing-max-large: 1rem;
    --spacing-max-x-large: 1.5rem;
    --spacing-max-2x-large: 2rem;
    --spacing-max-3x-large: 3rem;
    --spacing-max-4x-large: 4rem;
    --spacing-max-5x-large: 6rem;
    --action-cta-default: #f47d20;
    --action-cta-hovered: #ffad71;
    --action-cta-pressed: #c3622c;
    --action-primary-default: #006cb7;
    --action-primary-hovered: #2588cf;
    --action-primary-pressed: #00508a;
    --action-secondary-default: #fff;
    --action-secondary-hovered: #2588cf;
    --action-secondary-pressed: #00508a;
    --action-ghost-default: 0;
    --action-ghost-hovered: .05;
    --action-ghost-pressed: .2;
    --text-on-cta: #000;
    --text-on-primary: #fff;
    --text-on-secondary: #006cb7;
    --text-on-ghost: #000;
    --icon-on-cta: #000;
    --icon-on-primary: #fff;
    --icon-on-secondary: #006cb7;
    --icon-on-ghost: #000;
    --focused-default: #00a3da;
    --size-0: 0rem;
    --size-10: .0625rem;
    --size-25: .125rem;
    --size-40: .1875rem;
    --size-50: .25rem;
    --size-65: .3125rem;
    --size-100: .5rem;
    --size-115: .5625rem;
    --size-125: .625rem;
    --size-130: .6875rem;
    --size-150: .75rem;
    --size-160: .8125rem;
    --size-175: .875rem;
    --size-200: 1rem;
    --size-225: 1.125rem;
    --size-250: 1.25rem;
    --size-300: 1.5rem;
    --size-350: 1.75rem;
    --size-400: 2rem;
    --size-450: 2.25rem;
    --size-500: 2.5rem;
    --size-550: 2.75rem;
    --size-600: 3rem;
    --size-700: 3.5rem;
    --size-800: 4rem;
    --size-900: 4.5rem;
    --size-1000: 5rem;
    --size-1200: 6rem;
    --size-1700: 8.5rem;
    --size-2400: 12rem;
    --size-2600: 13rem;
    --size-3400: 17rem;
    --size-3600: 18rem;
    --size-4600: 23rem;
    --size-5000: 25rem;
    --size-6000: 30rem;
    --color-core-white: #fff;
    --color-core-off-black: #141414;
    --color-core-black: #000;
    --color-core-gray-50: #f6f6f6;
    --color-core-gray-75: #eee;
    --color-core-gray-100: #e4e4e4;
    --color-core-gray-200: #d4d4d4;
    --color-core-gray-300: #bfbfbf;
    --color-core-gray-400: #a0a0a0;
    --color-core-gray-500: #828282;
    --color-core-gray-600: #646464;
    --color-core-gray-700: #4d4d4d;
    --color-core-gray-800: #3a3a3a;
    --color-core-gray-900: #282828;
    --color-core-blue-50: #e5f1fb;
    --color-core-blue-75: #e0f0fb;
    --color-core-blue-100: #cee7f9;
    --color-core-blue-200: #b1daf5;
    --color-core-blue-300: #88c7ee;
    --color-core-blue-400: #5aaee2;
    --color-core-blue-500: #2588cf;
    --color-core-blue-600: #0066b0;
    --color-core-blue-700: #00508a;
    --color-core-blue-800: #00395d;
    --color-core-blue-900: #0b2a44;
    --color-core-orange-50: #fff5ee;
    --color-core-orange-75: #ffebdc;
    --color-core-orange-100: #ffdec5;
    --color-core-orange-200: #ffc9a0;
    --color-core-orange-300: #ffad71;
    --color-core-orange-400: #f47d20;
    --color-core-orange-500: #c3622c;
    --color-core-orange-600: #9b4f26;
    --color-core-orange-700: #783e20;
    --color-core-orange-800: #58301a;
    --color-core-orange-900: #3c2214;
    --color-core-pink-50: #fff4f8;
    --color-core-pink-75: #fee8f1;
    --color-core-pink-100: #fcdae8;
    --color-core-pink-200: #fac7dc;
    --color-core-pink-300: #f6adcd;
    --color-core-pink-400: #fc7ab8;
    --color-core-pink-500: #d65293;
    --color-core-pink-600: #a63e71;
    --color-core-pink-700: #803258;
    --color-core-pink-800: #5e2841;
    --color-core-pink-900: #401d2d;
    --color-core-purple-50: #f9f7fb;
    --color-core-purple-75: #f1ebf4;
    --color-core-purple-100: #e9e0ed;
    --color-core-purple-200: #dfd0e5;
    --color-core-purple-300: #ceb8d7;
    --color-core-purple-400: #b99bc7;
    --color-core-purple-500: #9e76b4;
    --color-core-purple-600: #7851a7;
    --color-core-purple-700: #593a9d;
    --color-core-purple-800: #412883;
    --color-core-purple-900: #2d1b5f;
    --color-core-azur-50: #f0f8fe;
    --color-core-azur-75: #def1fd;
    --color-core-azur-100: #c8e8fd;
    --color-core-azur-200: #a6dbfc;
    --color-core-azur-300: #77c9f6;
    --color-core-azur-400: #00a3da;
    --color-core-azur-500: #008cbe;
    --color-core-azur-600: #006b93;
    --color-core-azur-700: #005473;
    --color-core-azur-800: #0b3f55;
    --color-core-azur-900: #112b39;
    --color-core-green-50: #f1f9ee;
    --color-core-green-75: #e2f4e0;
    --color-core-green-100: #cbeccb;
    --color-core-green-200: #ade1b0;
    --color-core-green-300: #81d18b;
    --color-core-green-400: #00af4d;
    --color-core-green-500: #009247;
    --color-core-green-600: #00733e;
    --color-core-green-700: #005a34;
    --color-core-green-800: #034328;
    --color-core-green-900: #0a2e1d;
    --color-core-yellow-50: #fffbb7;
    --color-core-yellow-75: #fdf26b;
    --color-core-yellow-100: #fce439;
    --color-core-yellow-200: #ffd400;
    --color-core-yellow-300: #fbab18;
    --color-core-yellow-400: #df971a;
    --color-core-yellow-500: #b0771b;
    --color-core-yellow-600: #865c19;
    --color-core-yellow-700: #684717;
    --color-core-yellow-800: #4d3614;
    --color-core-yellow-900: #352511;
    --color-core-red-50: #fff4f3;
    --color-core-red-75: #ffeae8;
    --color-core-red-100: #ffdcda;
    --color-core-red-200: #fdc5c1;
    --color-core-red-300: #ffa8a7;
    --color-core-red-400: #f27173;
    --color-core-red-500: #ea4749;
    --color-core-red-600: #c90c1b;
    --color-core-red-700: #9d0f1b;
    --color-core-red-800: #741318;
    --color-core-red-900: #4f1213;
    --color-brand-white: #f6f6f6;
    --color-brand-medium-stone-gray: #a0a0a0;
    --color-brand-dark-stone-gray: #646464;
    --color-brand-black: #000;
    --color-brand-light-royal-blue: #78bfea;
    --color-brand-bright-blue: #006cb7;
    --color-brand-earth-blue: #00395d;
    --color-brand-bright-orange: #f47d20;
    --color-brand-dark-orange: #c3622c;
    --color-brand-light-pink: #f6adcd;
    --color-brand-bright-pink: #e3599d;
    --color-brand-medium-lavender: #9e76b4;
    --color-brand-medium-lilac: #4c2f92;
    --color-brand-dark-azur: #00a3da;
    --color-brand-bright-green: #00af4d;
    --color-brand-dark-green: #009247;
    --color-brand-earth-green: #004a2d;
    --color-brand-cool-yellow: #fff579;
    --color-brand-bright-yellow: #ffd400;
    --color-brand-flame-yellow: #fbab18;
    --color-brand-vibrant-coral: #f27173;
    --color-brand-bright-red: #dd1a22;
    --color-brand-dark-red: #7f131b;
    --color-logo-corporate-red: #e3000b;
    --color-logo-yellow: #ffed00;
    --color-logo-corporate-black: #000;
    --color-logo-corporate-white: #fff;
    --font-family-sans: Cera Pro;
    --line-height-50: 1.25rem;
    --line-height-75: 1.25rem;
    --line-height-100: 1.5rem;
    --line-height-200: 1.75rem;
    --line-height-300: 1.75rem;
    --line-height-400: 2rem;
    --line-height-500: 2.75rem;
    --line-height-600: 3.25rem;
    --line-height-700: 3.75rem;
    --line-height-800: 4.5rem;
    --line-height-900: 5.25rem;
    --line-height-1000: 6.5rem;
    --line-height-1100: 10.5rem;
    --line-height-1200: 14.25rem;
    --font-size-50: .75rem;
    --font-size-75: .875rem;
    --font-size-100: 1rem;
    --font-size-200: 1.125rem;
    --font-size-300: 1.25rem;
    --font-size-400: 1.5rem;
    --font-size-500: 2rem;
    --font-size-600: 2.5rem;
    --font-size-700: 3rem;
    --font-size-800: 3.75rem;
    --font-size-900: 4.75rem;
    --font-size-1000: 6rem;
    --font-size-1100: 9.5rem;
    --font-size-1200: 13rem;
    --font-weight-thin: Thin;
    --font-weight-light: Light;
    --font-weight-regular: Regular;
    --font-weight-medium: Medium;
    --font-weight-bold: Bold;
    --font-weight-black: #000;
    --letter-spacing-condensed-4: -.04em;
    --letter-spacing-condensed-3: -.03em;
    --letter-spacing-condensed-2: -.02em;
    --letter-spacing-condensed-1: -.01em;
    --letter-spacing-default: 0;
    --letter-spacing-expanded-1: .01em;
    --paragraph-spacing-none: 0;
    --paragraph-spacing-default: 1.5rem;
    --text-transform-none: none;
    --text-transform-capitalize: capitalize;
    --text-transform-lowercase: lowercase;
    --text-transform-uppercase: uppercase;
    --text-decoration-none: none;
    --text-decoration-underline: underline;
    --opacity-0: 0;
    --opacity-5: .05;
    --opacity-10: .1;
    --opacity-20: .2;
    --opacity-30: .3;
    --opacity-40: .4;
    --opacity-50: .5;
    --opacity-60: .6;
    --opacity-70: .7;
    --opacity-80: .8;
    --opacity-90: .9;
    --_minWidthScalling: 23.4375rem;
}