.section2__email {
    margin-top: 10px;
    gap: 2px;
}
.section2__email-box {
    width: 300px;
    height: 30px;
    font-size: 15px;
}

.section2__submit {
    height: 30px;
    width: 50px;
    background: rgb(249, 176, 41);
    cursor: pointer;
}